<li>
	<%= label_tag column_name %>
    <%= text_field_tag column_name %>
</li>
<li>
    <%= label_tag column_type_id %>
	<%= select_tag column_type_id, options_from_collection_for_select(@column_type, "id", "name") %>
</li>
<li>     
    <%= label_tag required_field %>
    <%= check_box_tag required_field, true, false %>
	<hr />
</li>    

