<<<<<<< HEAD
 <br /> 
 <br />
 <br />
 <br /> 
 <br />

<h2>General Properties - Columns</h2>

<%= form_for(@column, :url => {:action => "create", :controller=> "columns"}, :html => {:method => "post", :id => "formColumn" }) do |f| %>
	<fieldset>
      <%= f.hidden_field :table_id, :value => session[:table_id] %>    
      <h2>Enter column</h2>
      <div class="control-group">
        <%= f.label :column_name %>
        <div class="controls">
          <%= f.text_field :column_name %>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :column_type_id %>
        <div class="controls">
          <%= f.select :column_type_id, options_from_collection_for_select(@column_type, "id", "name") %>
          <span class="help-block"></span>
        </div>
      </div>
      <div>
        <%= f.submit "Create Table", :class => "btn btn-primary btn-large" %>
      </div>


      <%= hidden_field_tag :table_id, :value => session[:table_id] %>    
      <h2>Enter column</h2>
      <div class="control-group">
        <%= f.label :column_name %>
        <div class="controls">
          <%= f.text_field :column_name %>
          <span class="help-block"></span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :column_type_id %>
        <div class="controls">
          <%= f.select :column_type_id, options_from_collection_for_select(@column_type, "id", "name") %>
          <span class="help-block"></span>
        </div>
      </div>
      <div>
        <%= f.submit "Create Table", :class => "btn btn-primary btn-large" %>
      </div>      
	</fieldset>
<% end %>

=======
 <br /> 
 <br />
 <br />
 <br /> 
 <br />

<h2>General Properties - Columns</h2>

<%= form_for(@column, :url => {:action => "create", :controller=> "columns"}, :html => {:method => "post", :id => "formColumn" }) do |f| %>
	<fieldset>
      <%= hidden_field_tag "table_id", session[:table_id] %>    

      <% @array_counter.each_with_index do |element, index| %>
        <%= render :partial => "/shared/print_columns", :locals => { :column_name => "column_name" + index.to_s, :column_type_id => "column_type_id" + index.to_s, :required_field => "required_field" + index.to_s } %>
      <% end %>
      <div>
        <%= f.submit "Create Columns", :class => "btn btn-primary btn-large" %>
      </div>      
	</fieldset>
<% end %>

>>>>>>> 57df87248e9e1ec71894372ae4b466f91f96ccc0
