<div id="header"><h1 id="site_title">Genericcmsdev</h1>
	<ul class="header-item" id="tabs">
		<li id="dashboard"><a href="/admin">Dashboard</a></li>
		<li id="users"><a href="/admin/users">Users</a></li>
		<li class="current" id="tables"><a href="/tables">Tables</a></li>
	</ul>
	<p class="header-item" id="utility_nav"><span class="current_user">admin@example.com</span><a href="/admin/logout" data-method="get">Logout</a></p></div>
		<div id="title_bar">
			<div id="titlebar_left">
				<span class="tbreadcrumb">
					<a href="/admin">Admin</a>            
					<span class="tbreadcrumb_sep">/</span>
					<a href="/tables">Tables</a>
				</span>
				<h2 id="page_title">New Table</h2>
			</div>
		</div>
</div>
<div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
        <div id="main_content">
			<%= form_for(@table, :url => {:action => "create", :controller=> "tables"}, :html => {:method => "post", :id => "formTable" }) do |f| %>
				<fieldset class="inputs">
				<div id="form_legend"><span>Table Details</span></div>
				<ol>
					<li>
						<%= f.label :table_name %>
						<%= f.text_field :table_name %>
					</li>
					<li>
						<%= f.label :table_desc %>
						<%= f.text_area :table_desc %>
					</li>
				</ol>
				</fieldset>
				<fieldset class="buttons">
				<ol>
					<li class="commit button">
						<%= f.submit "Create Table" %>
					</li>
					<li class="cancel">
						<a href="/admin/users">Cancel</a>
					</li>
				</ol>
				</fieldset>
			<% end %>
			</div>
		</div>
    </div>
</div>

  